*{
  box-sizing: border-box;
}

.App {
  width: 415px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #eee;
  min-height: 100vh;
}

@media (max-width: 415px){
  .app{
    width: 100%;
  }
}

.brand{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

.nav-app{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
}

.nav-app__item{
  display: inline-block;
  flex: 1 1 0; /* flex: grow, strict, basis */
  /* width: calc(100% / 4); */
  text-align: center;
  padding: 14px 0;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.nav-app__item:not(:last-child){
  border-right: 1px solid #eee;
}

/* Content Home */
.section{
  padding: 30px;
}

.section-title{
  margin-top: 0;
}

.section-description{
  line-height: 26px;
}


.articles{
  border-top: 1px solid #eee;
}

.article{
  border-bottom: 1px solid #eee;
}

.article-title{
  margin-top: 0;
}

.article-title a{
  color: #000;
  text-decoration: none;
}
.article-title a:hover{
  color: blue
}

.article-time{
  color: #999;
  font-size: 12px;
}

.article-image{
  max-width: 100%;
  margin: 30px 0;
}

.article-summary{
  line-height: 26px;
  margin-top: 0;
}

.article-source{
  color: #999;
}
